<h1>Albums#Show</h1>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>
